.tracking-detail {
    padding: 3rem 0
}

// .tracking-list {
//  border:1px solid #e5e5e5
// }

.tracking-item {
    position: relative;
    padding-left: 3rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    font-size: .9rem;
    color: $light;
    min-height: 5rem
}

.tracking-item span {
    display: block;
    color: #888;
    font-size: 85%
}

.timeline {
  position: relative;      /* establish a positioning context */
  overflow: visible;       /* ensure the icon isn’t clipped */
}

.tracking-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);

  left: 100%;
  width: 4rem;
  height: 4rem;

  z-index: 10;
  border-radius: 50%;
  overflow: hidden;
}

.icon-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    overflow-wrap: anywhere;
}

#education, #experience {
        transition: opacity 0.1s ease-in-out;
}

#education {
    display: none;
    opacity: 0;
}

#experience {
    display: block;
    opacity: 1;
}

.timeline {
    display: flex;
    border-right: 1px solid $light;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 35px;
}



.over {
    overflow: visible;
}



// .col {
//   outline: 1px solid red !important;
//   text-align: center;
// }


/* ID selectors are more specific than class selectors in Bootstrap */