<section class="container my-5 py-5 z-i none">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-5">

         <div class="">

             <div class="rounded-circle overflow-hidden bg-secondary mx-auto align-items-center " style="width: 200px; height: 200px;">
                 <img src="img/headshot.png" alt="Profile Picture" class="img-fluid w-100 h-100 object-fit-cover">
                </div>
                
                <div class="text-center">
                    <h1 class="name text-secondary display-4 mb-2 pointerall">
                        <span class="replacement">Hi! I'm Vala 🙂</span>
                        <span class="original">Valareza Arezehgar</span>
                    </h1>
                    
                    
                    <p class="text-light fs-5 mb-3">📍 Toronto, Canada</p>
                    
                    <div class="d-flex justify-content-center gap-3 fs-4 mb-3">
                        <a href="mailto:valareza.arezehgar@gmail.com" class="text-decoration-none text-light pointerall" target="_blank"
                        aria-label="Email">
                        <i class="bi bi-envelope-fill"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/valareza-arezehgar/" class="text-decoration-none text-light pointerall"
                    target="_blank" aria-label="LinkedIn">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://github.com/Valagit12" class="text-decoration-none text-light pointerall"
                target="_blank" aria-label="GitHub">
                <i class="bi bi-github"></i>
            </a>
        </div>
        
        <a href="/resume" class="btn btn-outline-secondary z-i pointerall" download>
            Download Resume
        </a>
    </div>
</div>
</div>
</section>