<div class="toggle-buttons mb-4 text-center">

  <button id="experiencebtn" class="btn btn-outline-light me-2 pointerall active"
    onclick="showSection('experience', this)">Experience</button>
  <button id="educationbtn" class="btn btn-outline-light pointerall"
    onclick="showSection('education', this)">Education</button>
</div>



<div class="mx-auto border border-light rounded-3 ps-3 pb-0 pt-0" id="experience">
  <div class="row">

    <div class="col-2 col-md-1 col-lg-1">
      <div class="timeline">
        <div class="tracking-icon">
          <img src="img/eccclogo.png" alt="In transit" class="icon-image">
        </div>
      </div>
    </div>

    <div class="tracking-item col-10 col-md-11 col-lg-11">
      <div class="bg-transparent">
        Part-Time Software Developer
        <span>Environment & Climate Change Canada</span>
        <span> Oct 2023 - May 2024</span>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-2 col-md-1 col-lg-1 ">
      <div class="timeline">
        <div class="tracking-icon">
          <img src="img/eccclogo.png" alt="In transit" class="icon-image">
        </div>
      </div>
    </div>

    <div class="tracking-item col-10 col-md-11 col-lg-11">
      <div class="tracking-content ">Software Developer Intern
        <span>Environment & Climate Change Canada</span>
        <span>Sep 2022 - Aug 2023</span>
      </div>
    </div>
  </div>
</div>



<div class="mx-auto border border-light rounded-3 ps-3 pb-0 pt-0" id="education">
  <div class="row">
    <div class="col-2 col-md-1 col-lg-1">
      <div class="timeline">
        <div class="tracking-icon">
          <img src="img/tmulogo.png" alt="Graduated" class="icon-image">
        </div>
      </div>
    </div>
    <div class="tracking-item col-10 col-md-11 col-lg-11">
      <div class="bg-transparent">
        Bachelor of Science, Computer Science
        <span>Minor in Mathematics</span>
        <span>Toronto Metropolitan University</span>
        <span>Sept 2020 – June 2025</span>
      </div>
    </div>
  </div>
</div>



<script src="js/workedu.js"></script>